<h1> Survey API Ruby on Rails </h1>

<p> Hello, welcome to my survey API. Here you can create your account and start creating or answering questions. </p>

<p> To use it, you can access <%= link_to 'GraphiQL', '/graphiql' %>. </p>

<p> I recommend populating the database with initial data. </p> 

<p> For more information on how to use the API, please read the README on <a target="_blank" href="https://github.com/Xsaviox1/project_ror/branches">GitHub</a>. </p>
